<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 상세페이지</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>글 상세페이지</h1>

        <div>
            작성 : [[${article.createDate}]]
        </div>

        <div>
            수정 : [[${article.modifyDate}]]
        </div>

        <div>
            작성자 : [[${article.author.username}]]
        </div>

        <div>
            제목 : [[${article.subject}]]
        </div>

        <div>
            내용 : [[${article.content}]]
        </div>

        <div>
            해시태그 :
            <th:block th:utext="${article.extra_hashTagLinks}">
        </div>

        <div th:each="entry : ${article.extra.genFileMap}">
            <hr/>
            <img th:src="@{${entry.value.url}}" alt="">
        </div>

        <div class="py-3">
            <a th:href="@{|/article/list|}" class="btn btn-sm btn-secondary">목록</a>
            <a th:href="@{|/article/${article.id}/modify|}" class="btn btn-sm btn-secondary">수정</a>
            <a onclick="return confirm('정말로 삭제하시겠습니까?')" th:href="@{|/article/${article.id}/delete|}" class="btn btn-sm btn-secondary">삭제</a>
        </div>

    </div>
</section>
</body>
</html>