<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 리스트</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>글 리스트</h1>

        <ul>
            <li th:each="article : ${articles}" class="flex gap-2 items-center">
                <a th:href="@{|/article/${article.id}|}" th:text="|번호 : ${article.id}|">
                </a>

                <a th:href="@{|/article/${article.id}|}" th:text="|제목 : ${article.subject}|">
                </a>

                <th:block th:utext="|태그 : ${article.extra_hashTagLinks}|"/>

                <div class="inline-flex" th:each="entry : ${article.extra.genFileMap}">
                    <img class="w-10 h-10 rounded object-fit" th:src="@{${entry.value.url}}" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>
</body>
</html>