<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글수정</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>글수정</h1>

        <script>
            function ModifyForm__submit(form) {
                form.subject.value = form.subject.value.trim();

                if (form.subject.value.length == 0) {
                    alert("제목을 입력해주세요.")
                    form.subject.focus();
                    return;
                }

                form.content.value = form.content.value.trim();

                if (form.content.value.length == 0) {
                    alert("내용을 입력해주세요.");
                    form.content.focus();
                    return;
                }

                form.submit();
            }
        </script>

        <form th:action method="POST" enctype="multipart/form-data" onsubmit="ModifyForm__submit(this); return false;">
            <div>
                <span>제목</span>
                <input type="text" name="subject" th:value="${article.subject}">
            </div>
            <div>
                <span>내용</span>
                <textarea name="content" th:text="${article.content}"></textarea>
            </div>
            <div>
                해시태그 :
                <th:block th:each="hashTag : ${article.extra.hashTags}">
                    <a th:href="@{${hashTag.keyword.listUrl}}">
                        #[[${hashTag.keyword.content}]]
                    </a>
                </th:block>
            </div>
            <div>
                <span>해시태그</span>
                <input type="text" name="hashTagConents" placeholder="#태그1 #태그2" th:value="${article.extra_inputValue_hashTagContents}"/>
            </div>
            <div>
                <span>본문이미지</span>
                <th:block th:each="i : ${#numbers.sequence(1, 5)}"
                          th:with="genFile=${article.extra.genFileMap.get('common\_\_inBody\_\_' + i)}">
                    <div>
                        <hr>
                        <span th:text="|${i}번 이미지|"></span>

                        <div th:if="${genFile != null}">
                            <a th:href="@{${genFile.url}}" target="_blank" class="inline-block">
                                <img class="w-10 h-10 object-cover rounded" title="새창에서 크게 보기"
                                     th:src="@{${genFile.url}}" alt="">
                            </a>
                            <br>
                            <a th:href="@{${genFile.downloadUrl}}">다운로드</a>
                            <br>
                            <label>
                                <input type="checkbox" value="Y" th:name="|delete___common\_\_inBody\_\_${i}|">
                                <span>이미지 삭제</span>
                            </label>
                        </div>

                        <br>
                        <input type="file" th:name="|common\_\_inBody\_\_${i}|"
                               accept="image/png, image/gif, image/jpeg">
                    </div>
                </th:block>
            </div>
            <div>
                <span>글수정</span>
                <input type="submit" value="수정">
            </div>
        </form>
    </div>
</section>
</body>
</html>